# Day 1 â€” Python Basics Solutions
This notebook runs the demo functions from `problems.py` and shows outputs for easy review and screenshots for LinkedIn.

In [7]:
import sys
sys.path.append('./Day1_Python_Basics')
import problems

In [8]:
problems.demo_prints()

=== Basic prints ===
3
Hello, World!

In [9]:
problems.list_examples()

=== List examples ===
student: ['Jack', 32, 'Computer Science', [2, 4]]
empty_list: []
my_list = ['p', 'r', 'o', 'g', 'r', 'a', 'm']
my_list[2:5] = ['o', 'g', 'r']
my_list[2:-2] = ['o', 'g', 'r']
my_list[0:3] = ['p', 'r', 'o']
my_list2: [1, 2, 3, 4.5] length: 4
original nums: [10, 20, 30, 40, 50]
mutated nums: [200, 300, 30, 40, 50]
sum: 620 average: 124.0
reversed list1: [500, 400, 300, 200, 100]
squares_loop: [1, 4, 9, 16, 25, 36, 49]
squares_comp: [1, 4, 9, 16, 25, 36, 49]

In [10]:
data = [8, 2, 15, 1, 9]
smallest, largest = problems.find_min_max_no_builtin(data)
print('\nLargest number:', largest)
print('Smallest number:', smallest)

Largest number: 15
Smallest number: 1

In [11]:
sports = ['Cricket', 'Football', 'Hockey', 'Football', 'Tennis', 'Football']
print('\nFootball count:', problems.count_occurrences_no_builtin(sports, 'Football'))

Football count: 3

In [12]:
problems.while_loop_demo(limit=10)
problems.number_pattern(rows=5)

=== While loop demo ===
1 2 3 4 5 6 7 8 9 10

=== Number pattern ===
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [13]:
print('\nSum up to 10:', problems.sum_upto_n(10))

Sum up to 10: 55

In [14]:
print('\nMultiplication table of 2:', problems.multiplication_table_of_2())

Multiplication table of 2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
numbers = [12, 75, 150, 180, 145, 525, 50]
problems.conditional_loop_display(numbers)

=== Conditional loop display ===
75
150
145

In [16]:
problems.dictionary_operations_demo()

=== Dictionary operations ===
after adding Profession: {'name': 'Alice', 'age': 35, 'city': 'New York', 'Profession': 'Doctor'}
after modifying age: {'name': 'Alice', 'age': 40, 'city': 'New York', 'Profession': 'Doctor'}
city value: New York
after popping Profession: {'name': 'Alice', 'age': 40, 'city': 'New York'}
key-value pairs:
name Alice
age 40
city New York

**End of notebook.**

You can download `problems.py` from the repository folder and run it locally as well.